html {
  position: relative;
  min-height: 100%;
  
}
.text{
  text-align: center;
  text-overflow: clip;
  color :white;
  margin-top:20px;
  padding-top: 20px;
  text-decoration-style: wavy ;
  font-size: 50px;  
}

body {
  margin-bottom: 45px;
}

body{
  background-image: url('../images/burger-background.jpg'); 
}

.card-header {
  /* background-color: rgb(29, 150, 130); */
  background-color: goldenrod;
  color: #fff;
}
h5{
  color :white; 
}
